#album-container {
	padding: 20px 0;
	width: 960px;
}

div.img-container {
	width: 300px;
	height: 230px;
	margin: 5px;
	display: inline;
}

img {
	  width: 300px;
}


#generate.hidden {
	display: none;
  }